body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #EBEBEB;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-style {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.form-style label {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.form-style input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 18px;
}

.form-style input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 20px;
}

.form-style input[type="submit"]:hover {
    background-color: #FFA500;
}

input:focus,
.cancel-button:focus {
    outline: none;
    border-color: #64b5f6;
}

