*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* background-color: rgba(0, 0, 255, 0.193); */
    background-color: aliceblue;
    height: 275px;
    width: 410px;
    margin: 50px auto;
    padding: 20px 40px;
    border-radius: 15px;
}